.reveal {
    font-size: 50px
}

.reveal h2 {
    font-size : 1.5em
}

.reveal blockquote {
    width : 100%;
    margin-left : 0px;
}

.reveal .slides {
}


div .input_prompt {
    display : none;
}

div.output_prompt {
    display : none;
}

div.input_area {
    display : none;
}
